@charset "UTF-8";

@font-face {
	font-family: 'NeoDGM';
	src: url('/fonts/neodgm.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	cursor: url('../img/Sprite-cursor0001.cur'), default;
}
/* 페이지 레이아웃 설정 */
body {
	width: 1920px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'NeoDGM';
}

.wrapper {
	width: 1416px;
	height: 825px;
	background-color: efefef;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 130px;
}

main {
	display: flex;
	flex-direction: column;
}

main>div {
	width: 78%;
	margin: 0 auto;
}

#main-header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100px;
	margin-bottom: 20px;
	
}

.headerTitle {
	height: 100%;
	width: 150%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: ffffff;
	background-image: url('../img/Sprite-field0001.png');
}

.headerTitle > div {
	display: flex;
	justify-content: center;
}

.headertitlep {
	font-size: 35px;
}

.termp {
	margin-top: 10px;
	font-size: 25px;
}

#main-body {
	height: 550px;
	display: flex;
}

section {
	display: flex;
	align-items: center;
	width: 100%;
	height: 550px;
}

section:first-of-type {
	justify-content: flex-start;
}

section:last-of-type {
	justify-content: flex-end;
}

section>div {
	background-color: white;
	width: 100%;
	height: 100%;
}
/* 제목, 로그인 부분 */
#title {
	
}

#title span {
	font-weight: 900;
	font-size: 40px;
}

#id-logout {
	margin-right: 155px;
}

#home {
	margin-right: 37px;
	font-size: 20px;
}

.arrows:hover {
	cursor: url('../img/Sprite-cursorPointer0001.cur'), pointer;
	-webkit-animation: cursor 400ms infinite;
  	animation: cursor 400ms infinite;
}

@-webkit-keyframes cursor {
  0% {cursor: url('../img/Sprite-cursorPointer0001.cur'), pointer;}
  25% {cursor: url('../img/Sprite-cursorPointer0002.cur'), pointer;}
  50% {cursor: url('../img/Sprite-cursorPointer0003.cur'), pointer;}
  75% {cursor: url('../img/Sprite-cursorPointer0004.cur'), pointer;}
  100% {cursor: url('../img/Sprite-cursorPointer0001.cur'), pointer;}
} 

@keyframes cursor {
  0% {cursor: url('../img/Sprite-cursorPointer0001.cur'), pointer;}
  25% {cursor: url('../img/Sprite-cursorPointer0002.cur'), pointer;}
  50% {cursor: url('../img/Sprite-cursorPointer0003.cur'), pointer;}
  75% {cursor: url('../img/Sprite-cursorPointer0004.cur'), pointer;}
  100% {cursor: url('../img/Sprite-cursorPointer0001.cur'), pointer;}
}

