@charset "UTF-8";
@font-face {
    font-family: 'NeoDGM';
    src: url('/fonts/neodgm.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
	margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
	width: 1920px;
	margin: 0 auto;
	font-family: 'NeoDGM';
	display:flex;
	align-items:center;
	justify-content:center;
}

.wrapper {
	width: 1416px;
	height:825px;
    background: #efefef;
}

.logo {
	font-size: 4rem;
	text-align: center;
	padding-top: 14rem;
	padding-bottom: 3rem;
}

.logo > a {
	text-decoration: none; /*밑줄 없애기*/
	color: inherit; /*색변화x*/
}

.login {
	display:flex;
	justify-content:center;
}